<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


</head>

<body class=" w-screen bg-blue-400  " style="height: 100vh;">
    <div id="app" style="height: 100%;">
        <div class="row-start-2 block bg-gray-500 shadow-md" style="height: 20vh;">
            <h2 class="text-4xl font-bold text-center text-gray-100 self-center">MultiroomChat</h2>
        </div>
        <div>
            <div id="Stage" class=" flex-col justify-center my-2" style="min-height: 70vh;">

            </div>

        </div>
        <div class=" bg-gray-500 conteiner flex w-full" style="height: 10vh;">
            <input
                class="shadow appearance-none border rounded w-full py-3 px-3 h-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="mensagem" name="mensagem" type="text" placeholder="Digite uma mensagem.">
            <input type="hidden" value="<%=dadosForm.user%>" id="apelido">
            <input class="h-8" type="submit" value="Enviar" id="enviar_mensagem">
        </div>

    </div>




    <script src="/socket.io/socket.io.js"></script>
    <script></script>
    <script>
        var socket = io('http://localhost');

        $('#enviar_mensagem').click(() => {

            socket.emit(
                'msgParaServidor',
                { user: $('#apelido').val(), mensagem: $('#mensagem').val() }
            );
        })

        socket.on('msgParaCliente', function (data) {

            new_html = `<div class="bg-gray-100 h-18 border rounded my-6 w-3/4 shadow-md">
                <h3>${data.user}</h3>
                <h4>${data.mensagem}</h4>    
                </div>`;

            $('#Stage').append(new_html);

        })


    </script>


</body>

</html>