<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrutura MVC</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">
    <div class="bg-gradient-to-r from-green-400 to-blue-500 h-20 w-screen shadow-lg">
        <nav class="container mx-auto px-16 grid grid-cols-3 ">
            <div>
                <h2 class="text-4xl font-bold self-center">Consignado</h2>
            </div>
            <div class="col-span-2 flex ">
                <li class="px-4"><a href="">Home</a></li>
                <li class="px-4"><a href="">Usuário</a></li>
                <li class="px-4"><a href="">Login</a></li>
            </div>
        </nav>

    </div>
    <div class="container mx-auto px-16">
        {{{body}}}

    </div>

</body>

</html>