<h2>Novo Produto</h2>
<form action="/produtos/novoproduto" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="name" id="name" placeholder="Digite o nome do produto">
    <label for="nome">Preço</label>
    <input type="text" name="preco" id="preco" placeholder="Valor">
    <label for="nome">Descrição</label>
    <input type="text" name="descricao" id="descricao" placeholder="Digite o nome do produto">
    <label for="nome">Imagem</label>
    <input type="text" name="image" id="image" placeholder="Digite o nome do produto">
    <br>
    <input type="submit" value="Cadastrar" class="bg-blue-600 py-2 px-2 rounded-lg text-white">
</form>