<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Ade</title>
</head>

<body>

    <h2>Navbar</h2>
    {{{body}}}

    <footer>
        <h2><span>Consignado</span></h2>
    </footer>
</body>

</html>